
@{
    ViewBag.Title = "MisReservas";
}

<h2>MisReservas</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Encargado</th>
            <th>Servicio</th>
            <th>Fecha</th>
            <th>Costo</th>
            <th>Hora</th>
        </tr>
        
    </thead>

    <tbody>
        @foreach (var reserva in Model)
        {
            <tr>
                <td>@reserva.Id</td>
                <td>@reserva.Encargado.nombres</td>
                <td>@reserva.Servicio.Nombre</td>
                <td>@reserva.Fecha</td>
                <td>@reserva.Detalle.costo</td>
                <td>@reserva.HoraInicio</td>
            </tr>
        }
    </tbody>
</table>